<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpotTheDif.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F5583B51C0F5394007650AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F5583C91C0F5395007650AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F5583D41C0F5395007650AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
